body {
  margin: 0;
  padding: 12px 8%;
  display: grid;
  grid-template-columns: 400px auto;
  grid-gap: 32px;
  font-family: 'open sans';
}

@media (max-width: 900px) {
  body,
  aside {
    display: block;
    padding: 32px;
  }
}

aside {
  padding: 64px;
  img {
    width: 100%;
    border-radius: 50%;
  }

  #details {
    h1 {
      margin-bottom: 0;
      font-weight: bolder;
    }
    span {
      color: grey;
      font-weight: bold;
    }
  }
}

main {
  header {
    margin-top: 64px;
    ul {
      padding: 0;
      display: flex;
    }

    li {
      i {
        color: orange;
        transform: translateY(2px);
        margin-right: 6px;
      }
      cursor: pointer;
      list-style: none;
      padding: 16px;

      &:first-child {
        border-bottom: 2px orange solid;
      }
      &:hover {
        border-bottom: 2px lightgrey solid;
      }
    }
  }

  #content {
    .label {
      display: flex;
      justify-content: space-between;

      button {
        color: orange;
        border: none;
        border: solid 2px orange;
        border-radius: 4px;
        padding: 4px 16px;
        background-color: transparent;
        outline: none;
        box-shadow: none;
        margin: 0 4px;

        &:active,
        &:focus {
          outline: none;
        }
      }
    }

    li {
      margin: 9px 0;
    }
  }
}
